<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatRobot.dao.CaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.chatRobot.model.CaseInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, disease_id, name
  </sql>
  <select id="selectByExample" parameterType="com.chatRobot.model.CaseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mcase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CASE
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mcase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chatRobot.model.CaseInfo">
    insert into mcase (id, disease_id, name
      )
    values (#{id,jdbcType=INTEGER}, #{diseaseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chatRobot.model.CaseInfo">
    insert into mcase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chatRobot.model.CaseInfo">
    update mcase
    <set>
      <if test="diseaseId != null">
        disease_id = #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chatRobot.model.CaseInfo">
    update mcase
    set disease_id = #{diseaseId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByDisease" parameterType="java.lang.Integer" resultType="com.chatRobot.model.CaseInfo">
    select
    *
    from mcase
    where disease_id = #{diseaseID}
  </select>

  <select id="getDiseaseID" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT disease_id FROM mcase where name=#{name};
  </select>

  <select id="getPicUrl" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT url FROM picture where case_id=#{caseID};
  </select>

  <select id="getVideoUrl" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT url FROM video where case_id=#{caseID};
  </select>

  <select id="getText" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT info FROM text where case_id=#{caseID};
  </select>


</mapper>